#index-banner {
    background-image: url(images/parallax-background.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}

#my-gallery {
    background-image: url(images/parallax-background2.jpg);
    background-size: cover;
    background-position: top
}
